@{
    ViewData["Title"] = "Home";
}

@section scripts{
    <script>
        if ('@ViewBag.TwitchBotManuallyStopped' == 'True') {     
            $("#twitch-status").text("Twitch Bot is Stopped manually");
        }

        if ('@ViewBag.DiscordBotManuallyStopped' == 'True') {     
            $("#discord-status").text("Discord Bot is Stopped manually");
        }

        if ('@ViewBag.IsConnectedTwitch' == 'True') {
            $("#twitch-status").text("Connected to Twitch Bot!");
        }

        if ('@ViewBag.IsConnectedDiscord' == 'True') {
            $("#discord-status").text("Connected to Discord Bot!");
        }

        if ('@ViewBag.ControllerFound' === true) {
            $("#loading").hide();
            $("#playerinfo").show();
        }
        else {
            $("#loading").show();
            $("#playerinfo").hide();
        }
        $('#sidebar').find('a[href="' + location.pathname + '"]').closest('li').addClass('active')

        PlayerOneRestoreMetadata();
        PlayerTwoRestoreMetadata(); 
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div id="playerinfo">
            @await Html.PartialAsync("/Views/Shared/_PlayerOneInfo.cshtml")
            <br />
            @await Html.PartialAsync("/Views/Shared/_PlayerTwoInfo.cshtml")
        </div>
        <div id="loading" class="loading" style="display:none; justify-content:center; align-items:center; display:flex; min-height:20vh;">
            <center><img src="~/Images/ajax-loader.gif" />  Searching for controller...please wait!</center>
        </div>
    </div>        
</div>
<br />
<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("/Views/Shared/_DeviceNetworkInformation.cshtml")
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("/Views/Shared/_ImportantNote.cshtml")
    </div>
</div>

